*.suo
*.user
*.sdf
*.opensdf
ipch
bin
obj
Debug
Release
/GX.csproj.meta
/GX.csproj.user.meta
/GX.sln.meta
/bin.meta
/obj.meta
/packages
/packages.config.meta
/Net/PlatCommon
/Net/PlatCommon.meta
